<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adejoh Sunday - Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <h1>Adejoh</h1>
                </div>

                <ul class="nav-links">
                    <li><a href="#portfolio">Projects</a></li>

                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact-us">Contact</a></li>
                </ul>



            </nav>
        </div>
    </header>

    <div class="hero">

        <div class="container">
            <div class="hero-content">

                <div class="hero-intro">

                
                    <p class="hello">Hello, i am</p>
                    <h3 class="name">Adejoh Sunday</h3>
                    <p>I am a Fullstack Developer with experience in building highly scalable web applications.</p>
                    
                    <div class="socials">

                    </div>
                    <div class="hero-links">
                        <div class="btn">Hire Me <i class='bx bx-right-arrow-alt'></i></div>
                        
                    </div>

                </div>

                <div class="hero-img">
                    <img src="{% static 'img/hero.svg' %}" alt="">
                </div>

                

            </div>
            
           
            
        </div>

    </div>

    <div class="skill-set">
        <div class="container">

            <div class="content">
                <div class="skill-set-content">
                    <div class="intro-skill">
                        <h2>My Skill Set</h2>
                    </div>

                    <div class="my-skill">
                        <div class="my-skill-content">
                            
                            <div class="skill-box">
                                <h3>FrontEnd</h3>
                            </div>

                            

                            <div class="skill-item">
                                <p><i class='bx bxl-react' ></i> React/Redux</p>
                                <p><i class='bx bxl-nodejs' ></i> Node.js</p>
                                <p><i class='bx bxl-github' ></i>  Git/Gitlab</p>
                                <p> <i class='bx bx-code-alt' ></i>  HTML/CSS/SASS</p>
                            </div>
                            
                        </div>

                        <div class="my-skill-content">
                            <div class="skill-box">
                                <h3>BackEnd</h3>
                            </div>

                                <div class="skill-item">
                                    <p><i class='bx bxl-python' ></i>  Python</p>
                                    <p><i class='bx bxl-django'></i> Django/Rest Framework</p>
                                    <p><i class='bx bxl-postgresql' ></i> PostgresSQL</p>
                                    <p><i class='bx bxs-data' ></i> Mongo DB/MySQL</p>
                                </div>
                                
                        </div>

                        <div class="my-skill-content">
                            <div class="skill-box">
                                <h3>Others</h3>
                            </div>
                            

                            <div class="skill-item">
                                <p><i class='bx bx-cloud' ></i> DevOps</p>
                                <p><i class='bx bx-spreadsheet'></i> Unit Testing</p>
                                <p><i class='bx bxl-figma' ></i> UX/Wireframing</p>
                                <p><i class='bx bxl-docker' ></i> Docker/ Kubernetes </p>
                                <p><i class='bx bxl-aws' ></i> AWS</p>
                            </div>
                            
                        </div>

                        <div class="my-skill-content">
                            
                            <div class="skill-box">
                                <h3>Language Proficiency</h3>
                            </div>

                            <div class="skill-item">
                                <p><i class='bx bx-check'></i>  English Language</p>
                                <p><i class='bx bx-check'></i>  French</p>
                                
                            </div>
                            
                        </div>
                        
                    </div>

                </div>
            </div>
                

        </div>
    </div>


    <div class="portfolio" id="portfolio">
        <div class="container">

            <div class="content">
                <div class="skill-set-content">
                    <div class="intro-skill">
                        <h2>Projects & Reviews</h2>
                    </div>

                    <div class="my-portfolio">
                        <h3>My Recent Work</h3>
                        <p>Buillding projects has been my utmost desire. Freelancing and also working with various teams i have been able to put up some great projects, which is highly scalabe and with best practice procedure.</p>
                       
                        <div class="portfolio-content">

                            <div class="portfolio-item">
                                <img src="{% static 'img/2.jpeg' %}" alt="">
                                
                                

                            </div>

                            <div class="portfolio-item">
                                <img src="{% static 'img/7.jpeg' %}" alt="">
                            </div>
                            <div class="portfolio-item">
                                <img src="{% static 'img/12.png' %}" alt="">
                            </div>
                            <div class="portfolio-item">
                                <img src="{% static 'img/4.jpeg' %}" alt="">
                            </div>

                        </div>


                        <div class="btn portfolio-link">
                            More Projects <i class='bx bx-right-arrow-alt'></i>
                        </div>

                        

                       

                        
                        
                    </div>

                </div>
            </div>
                

        </div>
    </div>

    <div class="resume" id="resume">
        <div class="container">

            <div class="content">
                <div class="skill-set-content">
                    <div class="intro-skill">
                        <h2>Resume</h2>
                    </div>

                    <div class="my-portfolio">
                        <h3>Latest Post</h3>
                        <p>Get updates, tips and tricks on various technologies and remember to always check back for latest post.</p>
                       
                        <div class="portfolio-content">

                           
                            <div class="blog-item">
                                <a href="">
                                <img src="{% static 'img/10.jpeg' %}" alt="">
                                
                                <div class="blog-text">
                                    <h2>How to Center a Div</h2>
                                    <p><i class='bx bx-calendar' ></i> 25 Aug, 2022</p>
                                    <p><i class='bx bx-edit'></i> Adejoh Sunday</p>
                                </div>
                                </a> 
                            </div>

                            <div class="blog-item">
                                <a href="">
                                <img src="{% static 'img/11.png' %}" alt="">
                                
                                <div class="blog-text">
                                    <h2>Aligning element and text distribution with css</h2>

                                    <div class="date-item">
                                        <p><i class='bx bx-calendar' ></i> 25 Aug, 2022</p>
                                        <p><i class='bx bx-edit'></i> Adejoh Sunday</p>
                                    </div>
                                    
                                </div>
                                </a> 
                            </div>

                            <div class="blog-item">
                                <a href="">
                                <img src="{% static 'img/12.png' %}" alt="">
                                
                                <div class="blog-text">
                                    <h2>Share post in django with django-social-share</h2>
                                    <p><i class='bx bx-calendar' ></i> 25 Aug, 2022</p>
                                    <p><i class='bx bx-edit'></i> Adejoh Sunday</p>
                                </div>
                                </a> 
                            </div>

                            <div class="blog-item">
                                <a href="">
                                <img src="{% static 'img/put.jpg' %}" alt="">
                                
                                <div class="blog-text">
                                    <h2>Building API's in django</h2>
                                    <p><i class='bx bx-calendar' ></i> 25 Aug, 2022</p>
                                    <p><i class='bx bx-edit'></i> Adejoh Sunday</p>
                                </div>
                                </a> 
                            </div>

                            
                           

                            

                        </div>


                        <div class="btn portfolio-link">
                            Download Resume <i class='bx bx-right-arrow-alt'></i>
                        </div>

                        

                       

                        
                        
                    </div>

                </div>
            </div>
                

        </div>
    </div>


    <div class="Blog" id="blog">
        <div class="container">

            <div class="content">
                <div class="skill-set-content">
                    <div class="intro-skill">
                        <h2>Blog</h2>
                    </div>

                    <div class="my-portfolio">
                        <h3>Latest Post</h3>
                        <p>Get updates, tips and tricks on various technologies and remember to always check back for latest post.</p>
                       
                        <div class="portfolio-content">

                           
                            <div class="blog-item">
                                <a href="">
                                <img src="{% static 'img/10.jpeg' %}" alt="">
                                
                                <div class="blog-text">
                                    <h2>How to Center a Div</h2>
                                    <p><i class='bx bx-calendar' ></i> 25 Aug, 2022</p>
                                    <p><i class='bx bx-edit'></i> Adejoh Sunday</p>
                                </div>
                                </a> 
                            </div>

                            <div class="blog-item">
                                <a href="">
                                <img src="{% static 'img/11.png' %}" alt="">
                                
                                <div class="blog-text">
                                    <h2>Aligning element and text distribution</h2>
                                    <p><i class='bx bx-calendar' ></i> 25 Aug, 2022</p>
                                    <p><i class='bx bx-edit'></i> Adejoh Sunday</p>
                                </div>
                                </a> 
                            </div>

                            <div class="blog-item">
                                <a href="">
                                <img src="{% static 'img/12.png' %}" alt="">
                                
                                <div class="blog-text">
                                    <h2>Share post in django with django-social-share</h2>
                                    <p><i class='bx bx-calendar' ></i> 25 Aug, 2022</p>
                                    <p><i class='bx bx-edit'></i> Adejoh Sunday</p>
                                </div>
                                </a> 
                            </div>

                            <div class="blog-item">
                                <a href="">
                                <img src="{% static 'img/put.jpg' %}" alt="">
                                
                                <div class="blog-text">
                                    <h2>Building API's in django</h2>
                                    <p><i class='bx bx-calendar' ></i> 25 Aug, 2022</p>
                                    <p><i class='bx bx-edit'></i> Adejoh Sunday</p>
                                </div>
                                </a> 
                            </div>

                            
                           

                            

                        </div>


                        <div class="btn portfolio-link">
                            More Post <i class='bx bx-right-arrow-alt'></i>
                        </div>

                        

                       

                        
                        
                    </div>

                </div>
            </div>
                

        </div>
    </div>

    <div class="Contact Us" id="contact-us">
        <div class="container">

            <div class="content">
                <div class="skill-set-content">
                    <div class="intro-skill">
                        <h2>Contact Me</h2>
                    </div>

                    <div class="my-portfolio">
                        <div class="port-intro">
                            <h3>Let's Keep in touch
                            </h3>
                            <p>You can reach me through the following channels.</p>    
                        </div>
                        
                       <div class="contact-details">
                            
                            <div class="details-item">

                                    <i class='bx bx-building-house con'></i> 
                                    
                                    <div class="inner">
                                        <h3>Address</h3>
                                        <p>Suite 013, Aphro Plaza, Gwagwalada, Abuja, Nigeria.</p>
                            
                                    </div>
                                    
                            </div>

                            <div class="details-item">
                                <i class='bx bx-phone-call con' ></i> 
                                
                                <div class="inner">
                                <h3>Phone</h3>
                                <p>+234 - 706-3494-394</p>
                                </div>
                            </div>

                            <div class="details-item">
                                <i class='bx bx-mail-send con' ></i> 
                                
                                <div class="inner">

                                
                                    <h3> Email</h3>
                                    <p>reach@adejoh.dev</p>
                                </div>
                            </div>


                            <div class="details-item">

                                <i class='bx bx-share-alt con' ></i> 
                                
                                <div class="inner">
                                    <h3>Social Media</h3>
                                    <p class="socials">
                                        <a href="https://github.com/AdejohOS" target="_blank"><i class='bx bxl-github'></i>
                                        </a>
                                        <a href="https://twitter.com/B_Skilz" target="_blank"><i class='bx bxl-twitter'></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/sunday-adejoh-b35a39167/" target="_blank"><i class='bx bxl-linkedin'></i>
                                        </a>
                                        <a href="https://discord.com/channels/914809827107176478/914809827107176486" target="_blank"><i class='bx bxl-twitch'></i>
                                        </a>
                                    
                                    </p>

                                    </div>
                            </div>


                            <div class="details-item">

                                <i class='bx bx-message-square-dots con'></i> 
                                
                                <div class="inner">
                                    <h3>Leave a message</h3>
                                    <p> Lets stay in touch, use the form below to reach me so we can start building that next great application.</p>
                                </div>
                            
                            </div>

                            

                            <div class="contact-form">
            

                                <form action="" class="form-action">
                                    <div class="input-container">
                                        <input type="text" placeholder="Name" class="input">
                                    </div>
                                    <div class="input-container">
                                        <input type="text" placeholder="Email" class="input">
                                    </div>
                                    <div class="input-container">
                                        <input type="text" placeholder="Phone" class="input">
                                    </div>
                                    <div class="input-container textarea">
                                        <textarea name="message" placeholder="Message" class="input" ></textarea>
                                    </div>
                                    
                                    <input type="submit" value="Submit &#8594" class="btn submit">
                                    
                                </form>
                    
                            </div>

                       </div>


                       

                        

                       

                        
                        
                    </div>

                </div>
            </div>
                

        </div>
    </div>

    <footer>
        <div class="container">

            <div class="footer-content">
                <p>
                    &copy; 2022 Adejoh Sunday. All Rights Reserved
                </p>
            </div>

        </div>
    </footer>
</body>

</html>